* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.first {
  height: calc(100vh + 80px);
  background: teal;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  overflow: hidden;
}
.caurosel {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second {
  /* height: 100vh; */
  width: 80%;
  margin: auto;
  background-color: wheat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  height: calc(100vh + 80px);
}

.third {
  height: calc(100vh + 80px);
  background-color: tomato;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 80px;
  z-index: 10;
  transition: all 0.5s ease-in;
}
.navbar.change {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e6653c;
  height: 80px;
  z-index: 10;
  transition: all 0.5s ease-in;
}

.navbarlinks {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: large;
  z-index: 10;
  transition: all 0.5s ease-in;
}

.logo {
  font-size: x-large;
  color: white;
  transition: all 0.5s ease-in;
}

.navbarlinks div {
  padding-right: 1.5rem;
}

.navbarlinks.change {
  font-size: xx-large;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 768px) {
  /* .navbarlinks {
    display: none;
  } */
  .navbarlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: -100%;
    /* top: 80px; */
    /* left: -100%; */
    /* clip-path: circle(75.5% at -100% -10%); */

    /* clip-path: circle(100px at 80% -10%); */
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 10;
  }

  .navbarlinks.mobile {
    background: inherit;
    left: 0;
    opacity: 1;
    top: 80px;
    height: 100vh;
    /* clip-path: circle(100vh at 80% -10%); */
    /* clip-path: circle(75.5% at 100% 0); */
    transition: all 0.5s ease-in;
    z-index: 10;
  }
}
@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}

.tothetop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgb(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closemodal {
  cursor: pointer;
  align-self: flex-end;
  padding: 1rem;
  font-weight: 900;
  font-size: x-large;
}

.gallery_container img {
  display: block;
  cursor: pointer;
}

.gallery_container {
  max-width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery_container .selected {
  max-width: 500px;
  /* height: 300px; */
  margin: 0 auto;
  border: 4px solid purple;
}

.gallery_container .imgContainer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.gallery_container .imgContainer img {
  max-width: 100px;
  margin: 5px 0;
  display: block;
  cursor: pointer;
}
